## Importing important libraries and reading the training and testing data

In [57]:
import numpy as np 
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt 
train_df = pd.read_csv("train_df.csv")
test_df = pd.read_csv("test_df.csv")

## Preprocessing training data

### Checking for null values, invalid target values and duplicated rows

In [58]:
# train_df = train_df.head(9000)

In [59]:
train_df.describe()

               target
count  1000000.000000
mean         0.061870
std          0.240919
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000

In [60]:
train_df.isna().sum()

qid              0
question_text    0
target           0
dtype: int64

In [61]:
train_df["target"].unique()

array([0, 1])

In [62]:
train_df.index[train_df.duplicated()]

Int64Index([], dtype='int64')

## Preprocessing testing data

### Checking for null values and duplicated rows

In [63]:
test_df

,qid,question_text
0,a4f3da3a3df9dd881edd,My period is due on my wedding day. How can I ...
1,9914c62ed3f69684d549,How many numbers higher than a million can be ...
2,8138ae48649e37091a91,"How come I feel nothing for my family, but sti..."
3,981b4753d17ef14d09f7,"In case of collapse of the Democratic party, w..."
4,452e2c705276ba16b7b7,Who is Émile Naoumoff?
...,...,...
306117,a352dff4fcc2571815ce,Did anyone get an update on Maruti Suzuki All ...
306118,ad4a8498d97c536c67b9,What 5 people in history do you find the most ...
306119,19784a27b55d4b453fda,How can I remove the tan on my forehead?
306120,370191dba26465997879,"If you are a well known hacker, will you be mo..."
306121,8077b4a45cea867d4ff2,If your new enemies be bigger and more dangero...

In [64]:
test_df.isna().sum()

qid              0
question_text    0
dtype: int64

In [65]:
test_df.index[test_df.duplicated()]

Int64Index([], dtype='int64')

## Cleaning the text
Common data cleaning steps on all text:

1.Make text all lower case

2.Remove punctuation

3.Remove numerical values

4.Remove common non-sensical text (/n)

5.Tokenize text

6.Remove stop words

7.Stemming / lemmatization

### Here (in round 1) we are doing the following things:-
1. Making the text lower case.
2. Removing text in square brackets
3. Removing punctuation marks from the text
4. Removing words containing numbers.

In [66]:
import re
import string

def clean_text_round1(text):
    '''Make text lowercase, remove text in square brackets, remove punctuation and remove words containing numbers.'''
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

round1 = lambda x: clean_text_round1(x)

In [67]:
train_df.question_text= train_df.question_text.apply(round1)
# train_df.question_text
test_df.question_text= test_df.question_text.apply(round1)

### Here (in round2) we are doing:-
1. Getting rid of additional punctuation
2. Removing some non-sensical text
3. Removing urls
4. Removing HTML tags

In [68]:
# Apply a second round of cleaning
def clean_text_round2(text):
    '''Get rid of some additional punctuation and non-sensical text that was missed the first time around.'''
    text = re.sub('[‘’“”…]', '', text)
    text = re.sub('\n', '', text)
    text = re.sub(r"http\S+", '', text)
    text = re.sub(re.compile('<.*?>') , '', text)

    return text
round2 = lambda x: clean_text_round2(x)

In [69]:
train_df.question_text= train_df.question_text.apply(round2)
test_df.question_text= test_df.question_text.apply(round2)
test_df.question_text

0         my period is due on my wedding day how can i s...
1         how many numbers higher than a million can be ...
2         how come i feel nothing for my family but stil...
3         in case of collapse of the democratic party wi...
4                                     who is émile naoumoff
                                ...
306117    did anyone get an update on maruti suzuki all ...
306118    what  people in history do you find the most i...
306119              how can i remove the tan on my forehead
306120    if you are a well known hacker will you be mor...
306121    if your new enemies be bigger and more dangero...
Name: question_text, Length: 306122, dtype: object

In [70]:
# train_df.question_text

### Tokenization
Tokenization is the process of segmenting running text into sentences and words. In essence, it’s the task of cutting a text into pieces called tokens. 
$\newline$ Here we are going to use word tokenizer i.e. the words are the tokens

In [71]:
import nltk
nltk.download('punkt')
from nltk.tokenize import sent_tokenize,word_tokenize
def tokenization(text):
    return word_tokenize(text)
# applying function to the column
train_df['question_text']= train_df['question_text'].apply(lambda x: tokenization(x))
test_df['question_text']= test_df['question_text'].apply(lambda x: tokenization(x))

# train_df.iloc[1].question_text

[nltk_data] Downloading package punkt to
[nltk_data]     /home/karanjitsaha/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [72]:
train_df.question_text
# import nltk
# from nltk.stem import PorterStemmer
# ps = PorterStemmer()

0         [what, are, interesting, facts, about, microso...
1         [what, are, those, things, which, are, not, go...
2         [what, should, i, know, to, avoid, being, upso...
3          [how, i, add, any, account, with, payment, bank]
4         [which, multi, level, marketing, products, are...
                                ...
999995                     [how, is, cse, at, vit, chennai]
999996    [how, can, we, prevent, a, holocaust, by, robo...
999997    [how, can, i, help, a, student, remember, key,...
999998    [what, is, the, difference, between, lace, clo...
999999    [what, happens, when, you, look, into, a, brok...
Name: question_text, Length: 1000000, dtype: object

In [73]:
# train_df['question_text'] = train_df['question_text'].apply(lambda x: [ps.stem(y) for y in x]) # Stem every word.
# # train_df = train_df.drop(columns=['question_text']) # Get rid of the unstemmed column.

In [74]:
test_df

,qid,question_text
0,a4f3da3a3df9dd881edd,"[my, period, is, due, on, my, wedding, day, ho..."
1,9914c62ed3f69684d549,"[how, many, numbers, higher, than, a, million,..."
2,8138ae48649e37091a91,"[how, come, i, feel, nothing, for, my, family,..."
3,981b4753d17ef14d09f7,"[in, case, of, collapse, of, the, democratic, ..."
4,452e2c705276ba16b7b7,"[who, is, émile, naoumoff]"
...,...,...
306117,a352dff4fcc2571815ce,"[did, anyone, get, an, update, on, maruti, suz..."
306118,ad4a8498d97c536c67b9,"[what, people, in, history, do, you, find, the..."
306119,19784a27b55d4b453fda,"[how, can, i, remove, the, tan, on, my, forehead]"
306120,370191dba26465997879,"[if, you, are, a, well, known, hacker, will, y..."
306121,8077b4a45cea867d4ff2,"[if, your, new, enemies, be, bigger, and, more..."

### Lemmatization
Lemmatization is a tool that performs full morphological analysis to more accurately find the root, or “lemma” for a word.

In [75]:
import nltk
nltk.download('omw-1.4')
# Lemmatization
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
#defining the object for Lemmatization
wordnet_lemmatizer = WordNetLemmatizer()
#defining the function for lemmatization
def lemmatizer(text):
    lemm_text = [wordnet_lemmatizer.lemmatize(word) for word in text]
    return lemm_text
train_df['question_text']=train_df['question_text'].apply(lambda x:lemmatizer(x))
test_df['question_text']=test_df['question_text'].apply(lambda x:lemmatizer(x))
# train_df.shape
train_df

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     /home/karanjitsaha/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /home/karanjitsaha/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

,qid,question_text,target
0,dda0b0efc8ba86e81ec4,"[what, are, interesting, fact, about, microsof...",0
1,dc708b74a108d0fc0ad9,"[what, are, those, thing, which, are, not, gon...",0
2,06a27ec5d82dacd8bfe0,"[what, should, i, know, to, avoid, being, upso...",0
3,00cbb6b17e3ceb7c5358,"[how, i, add, any, account, with, payment, bank]",0
4,7c304888973a701585a0,"[which, multi, level, marketing, product, are,...",0
...,...,...,...
999995,4bd96088d0b5f0f2c4f4,"[how, is, cse, at, vit, chennai]",0
999996,e80edbfc086f7125940f,"[how, can, we, prevent, a, holocaust, by, robo...",0
999997,1506dfad6bd340782a1f,"[how, can, i, help, a, student, remember, key,...",0
999998,b56c60fd407f2f85553c,"[what, is, the, difference, between, lace, clo...",0
999999,a1b32d315c2782cdbcc3,"[what, happens, when, you, look, into, a, brok...",0

In [76]:
train_df["question_text"][1]

['what',
 'are',
 'those',
 'thing',
 'which',
 'are',
 'not',
 'gon',
 'na',
 'happen',
 'ever']

### Stop Words removal
Stop words are commonly occurring words that for some computational processes provide little information or in some cases introduce unnecessary noise and therefore need to be removed.

In [77]:
# import nltk
# from nltk.corpus import stopwords
# nltk.download('stopwords')
# # train_df.question_text = [word for word in train_df.question_text if not word in stopwords.words('english')]
# # train_df
# # print(stopwords.words('english'))
# stopwords=stopwords.words('english')
# def remove_stopwords(text):
#     output= [i for i in text if i not in stopwords]
#     return output
# #applying the function
# train_df['question_text']= train_df['question_text'].apply(lambda x:remove_stopwords(x))
# test_df['question_text']= test_df['question_text'].apply(lambda x:remove_stopwords(x))

In [78]:
# remove_stopwords(lemmatizer(["thing","gonna","happen"]))

In [79]:
train_df

,qid,question_text,target
0,dda0b0efc8ba86e81ec4,"[what, are, interesting, fact, about, microsof...",0
1,dc708b74a108d0fc0ad9,"[what, are, those, thing, which, are, not, gon...",0
2,06a27ec5d82dacd8bfe0,"[what, should, i, know, to, avoid, being, upso...",0
3,00cbb6b17e3ceb7c5358,"[how, i, add, any, account, with, payment, bank]",0
4,7c304888973a701585a0,"[which, multi, level, marketing, product, are,...",0
...,...,...,...
999995,4bd96088d0b5f0f2c4f4,"[how, is, cse, at, vit, chennai]",0
999996,e80edbfc086f7125940f,"[how, can, we, prevent, a, holocaust, by, robo...",0
999997,1506dfad6bd340782a1f,"[how, can, i, help, a, student, remember, key,...",0
999998,b56c60fd407f2f85553c,"[what, is, the, difference, between, lace, clo...",0
999999,a1b32d315c2782cdbcc3,"[what, happens, when, you, look, into, a, brok...",0

In [80]:
def makeSentence(text):
    return ' '.join(list(text))

train_df.question_text = train_df['question_text'].apply(lambda x: makeSentence(x))
test_df.question_text = test_df['question_text'].apply(lambda x: makeSentence(x))

print(train_df.question_text)
# print(makeSentence(train_df.question_text[0]))
# ' '.join(list(train_df.question_text)[0])

0         what are interesting fact about microsoft history
1         what are those thing which are not gon na happ...
2         what should i know to avoid being upsold when ...
3                   how i add any account with payment bank
4         which multi level marketing product are actual...
                                ...
999995                            how is cse at vit chennai
999996    how can we prevent a holocaust by robot ai or ...
999997    how can i help a student remember key step and...
999998    what is the difference between lace closure la...
999999      what happens when you look into a broken mirror
Name: question_text, Length: 1000000, dtype: object

## Doing train test split of the train_df.csv

In [81]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train_df.question_text, train_df.target.values , test_size=0.15, random_state=0)
X_train.shape

test_x = test_df.question_text

## Vectorization of the dataset

In [ ]:
from sklearn.naive_bayes import MultinomialNB
# Import modules for evaluation purposes
# Import libraries for predcton
from sklearn import metrics
from sklearn.metrics import confusion_matrix,accuracy_score,roc_auc_score,roc_curve,auc,f1_score
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

tfidf = CountVectorizer()
# Numericalize the train dataset
train = tfidf.fit_transform(X_train.values.astype('U'))
# Numericalize the test dataset
test = tfidf.transform(X_test.values.astype('U'))

# for test_df
test_df_matrix = tfidf.transform(test_x.values.astype('U'))
print(test_df_matrix.shape)
print(train.shape)

:

:

In [ ]:
# tfidf.vocabulary_

{'can': 8630,
 'you': 65741,
 'show': 53526,
 'that': 58833,
 'the': 58847,
 'curve': 13703,
 'ha': 24765,
 'three': 59114,
 'inflection': 28633,
 'point': 45078,
 'on': 41602,
 'they': 58982,
 'all': 1656,
 'lie': 33447,
 'one': 41623,
 'straight': 56381,
 'line': 33615,
 'how': 26808,
 'do': 16611,
 'have': 25452,
 'sex': 52883,
 'orally': 41905,
 'what': 64364,
 'is': 29744,
 'life': 33458,
 'and': 2268,
 'death': 14353,
 'cause': 9253,
 'toilet': 59568,
 'to': 59503,
 'keep': 31392,
 'running': 50879,
 'continuously': 12311,
 'best': 5884,
 'way': 63996,
 'start': 55951,
 'out': 42214,
 'blogging': 6742,
 'make': 34937,
 'money': 37848,
 'why': 64602,
 'so': 54685,
 'many': 35331,
 'people': 43774,
 'ignore': 27658,
 'fact': 20216,
 'think': 59020,
 'men': 36427,
 'woman': 64968,
 'could': 12793,
 'use': 62297,
 'technology': 58367,
 'change': 9727,
 'dating': 14191,
 'for': 21682,
 'better': 5940,
 'should': 53502,
 'younger': 65750,
 'person': 43990,
 'always': 1905,
 'greet': 24260,
 'older': 41496,
 'first': 21162,
 'it': 29915,
 'important': 28050,
 'respect': 49637,
 'others': 42174,
 'doe': 16663,
 'job': 30568,
 'mean': 36119,
 'who': 64559,
 'are': 3271,
 'your': 65757,
 'greatest': 24222,
 'basketball': 5239,
 'player': 44859,
 'of': 41349,
 'alltime': 1756,
 'wa': 63611,
 'alcatraz': 1512,
 'island': 29828,
 'prison': 46285,
 'closed': 10875,
 'reasonable': 48401,
 'stating': 56008,
 'nonbinary': 40323,
 'dont': 16793,
 'exist': 19833,
 'count': 12818,
 'bnbr': 6885,
 'violation': 63204,
 'function': 22407,
 'torpedo': 59762,
 'plan': 44773,
 'studying': 56616,
 'computer': 11747,
 'science': 51905,
 'once': 41613,
 'enter': 18841,
 'college': 11271,
 'expect': 19896,
 'my': 38844,
 'future': 22496,
 'typically': 60898,
 'look': 34081,
 'like': 33536,
 'if': 27594,
 'want': 63783,
 'end': 18605,
 'up': 62064,
 'wall': 63727,
 'street': 56464,
 'smarter': 54443,
 'take': 57932,
 'texas': 58746,
 'am': 1912,
 'university': 61720,
 'or': 41900,
 'attend': 4056,
 'dartmouth': 14135,
 'at': 3919,
 'full': 22369,
 'price': 46195,
 'uk': 61073,
 'didnt': 15703,
 'vote': 63516,
 'fudge': 22330,
 'membership': 36396,
 'eu': 19427,
 'custom': 13727,
 'union': 61677,
 'andor': 2293,
 'single': 53954,
 'market': 35471,
 'still': 56223,
 'mooted': 38022,
 'after': 1052,
 'leave': 33009,
 'which': 64461,
 'institute': 29019,
 'in': 28142,
 'india': 28378,
 'vlsi': 63390,
 'backend': 4634,
 'coaching': 10986,
 'along': 1791,
 'with': 64874,
 'training': 59971,
 'fee': 20683,
 'nursing': 40980,
 'intervention': 29332,
 'woody': 65027,
 'edema': 17835,
 'foot': 21659,
 'candice': 8668,
 'major': 34920,
 'accomplishment': 345,
 'an': 2173,
 'actress': 571,
 'despite': 15290,
 'lalu': 32536,
 'yadav': 65480,
 'decimating': 14459,
 'land': 32588,
 'bihar': 6225,
 'bringing': 7681,
 'did': 15694,
 'rjd': 50296,
 'get': 23240,
 'majority': 34926,
 'election': 18122,
 'some': 54940,
 'process': 46373,
 'data': 14161,
 'collection': 11261,
 'pulsar': 47089,
 'supernova': 57227,
 'remnant': 49238,
 'surrounding': 57394,
 'them': 58873,
 'natural': 39286,
 'frequency': 22127,
 'steel': 56068,
 'beam': 5438,
 'difference': 15754,
 'between': 5953,
 'material': 35744,
 'set': 52823,
 'theory': 58917,
 'structural': 56561,
 'lack': 32436,
 'any': 2866,
 'motivation': 38197,
 'anything': 2878,
 'fix': 21226,
 'indian': 28389,
 'done': 16778,
 'master': 35679,
 'offer': 41375,
 'europe': 19472,
 'bet': 5909,
 'sure': 57344,
 'ico': 27475,
 'token': 59574,
 'not': 40724,
 'security': 52286,
 'under': 61363,
 'law': 32849,
 'then': 58888,
 'where': 64437,
 'legal': 33077,
 'opinion': 41803,
 'we': 64029,
 'see': 52314,
 'were': 64290,
 'going': 23780,
 'buy': 8308,
 'commercial': 11481,
 'property': 46655,
 'big': 6198,
 'investment': 29516,
 'would': 65162,
 'structure': 56564,
 'financing': 21069,
 'there': 58927,
 'particular': 43190,
 'hour': 26767,
 'before': 5566,
 'dawn': 14228,
 'nicherin': 39937,
 'buddhist': 7987,
 'monk': 37878,
 'pray': 45781,
 'called': 8520,
 'biggest': 6210,
 'flaw': 21340,
 'newer': 39827,
 'generation': 23044,
 'say': 51667,
 'girl': 23447,
 'ask': 3678,
 'whats': 64388,
 'idea': 27503,
 'world': 65098,
 'exam': 19644,
 'date': 14183,
 'nainital': 39001,
 'bank': 4995,
 'clerk': 10770,
 'recruitment': 48622,
 'exercise': 19779,
 'quentin': 47532,
 'express': 20007,
 'character': 9773,
 'his': 26290,
 'painting': 42736,
 'true': 60480,
 'original': 42007,
 'jew': 30425,
 'exiled': 19829,
 'from': 22230,
 'israel': 29882,
 'by': 8344,
 'roman': 50507,
 'thought': 59090,
 'about': 168,
 'this': 59054,
 'our': 42203,
 'eye': 20125,
 'restrict': 49702,
 'thing': 59016,
 'only': 41685,
 'upto': 62172,
 'dimension': 15891,
 'filter': 21034,
 'regard': 48917,
 'also': 1836,
 'fundamentally': 22423,
 'differentiates': 15763,
 'real': 48341,
 'american': 2019,
 'those': 59083,
 'try': 60539,
 'fake': 20290,
 'henry': 25858,
 'clifford': 10800,
 'kinley': 31793,
 'found': 21883,
 'divine': 16520,
 'metaphysical': 36676,
 'research': 49535,
 'alternate': 1853,
 'traditional': 59944,
 'personality': 43997,
 'type': 60878,
 'someone': 54949,
 'help': 25786,
 'me': 36105,
 'speech': 55323,
 'iq': 29634,
 'test': 58692,
 'valid': 62541,
 'measurement': 36146,
 'human': 26963,
 'intelligence': 29099,
 'working': 65080,
 'convenience': 12386,
 'store': 56341,
 'be': 5420,
 'counted': 12821,
 'work': 65058,
 'experience': 19927,
 'cat': 9141,
 'perspective': 44012,
 'anyone': 2874,
 'watch': 63903,
 'yuri': 65835,
 'ice': 27437,
 'ukraine': 61081,
 'might': 37024,
 'attacked': 4038,
 'behave': 5604,
 'classmate': 10692,
 'tease': 58330,
 'class': 10673,
 'doubt': 16902,
 'instead': 29001,
 'question': 47541,
 'department': 15060,
 'will': 64721,
 'able': 135,
 'practice': 45710,
 'passing': 43250,
 'usmle': 62341,
 'company': 11573,
 'hire': 26272,
 'semi': 52570,
 'qualified': 47446,
 'ca': 8375,
 'remainder': 49180,
 'spam': 55192,
 'yoi': 65698,
 'inclusion': 28250,
 'common': 11515,
 'example': 19652,
 'homonym': 26548,
 'word': 65042,
 'placed': 44741,
 'colder': 11206,
 'london': 34025,
 'toronto': 59761,
 'year': 65579,
 'round': 50678,
 'prerequisite': 46051,
 'fluid': 21497,
 'mechanic': 36163,
 'mahatma': 34834,
 'gandhi': 22711,
 'fight': 20972,
 'against': 1082,
 'discrimination': 16154,
 'both': 7232,
 'african': 1027,
 'south': 55117,
 'africa': 1026,
 'tool': 59669,
 'good': 23857,
 'making': 34952,
 'final': 21047,
 'semester': 52569,
 'schedule': 51807,
 'star': 55911,
 'universe': 61712,
 'opportunity': 41826,
 'md': 36089,
 'doing': 16701,
 'without': 64893,
 'ore': 41948,
 'filed': 21001,
 'restraining': 49698,
 'order': 41935,
 'received': 48479,
 'subpoena': 56788,
 'deposition': 15113,
 'prepared': 46013,
 'proof': 46616,
 'equation': 19057,
 'interview': 29337,
 'day': 14234,
 'table': 57831,
 'need': 39493,
 'negotiated': 39549,
 'everyone': 19573,
 'speak': 55257,
 'hindi': 26216,
 'plugin': 44959,
 'add': 633,
 'search': 52183,
 'functionality': 22411,
 'dashboard': 14152,
 'wp': 65177,
 'site': 54057,
 'itself': 29966,
 'elon': 18296,
 'musk': 38754,
 'catholic': 9217,
 'worth': 65145,
 'immigrate': 27928,
 'china': 10128,
 'nit': 40119,
 'into': 29375,
 'another': 2533,
 'giving': 23492,
 'jee': 30327,
 'main': 34879,
 'again': 1081,
 'maid': 34865,
 'honor': 26586,
 'bridesmaid': 7635,
 'hindu': 26225,
 'ignorant': 27655,
 'intolerant': 29378,
 'hospital': 26711,
 'gap': 22751,
 'almost': 1778,
 'currency': 13680,
 'hardest': 25223,
 'video': 63061,
 'game': 22671,
 'youve': 65776,
 'ever': 19549,
 'played': 44858,
 'fairly': 20270,
 'tall': 57986,
 'wrong': 65235,
 'prefer': 45908,
 'taller': 57989,
 'than': 58810,
 'must': 38771,
 'studied': 56610,
 'baymax': 5354,
 'avoid': 4400,
 'family': 20349,
 'member': 36393,
 'doesnt': 16673,
 'fulfill': 22362,
 'promise': 46577,
 'ignores': 27660,
 'mother': 38172,
 'request': 49492,
 'improve': 28112,
 'behavior': 5608,
 'even': 19538,
 'though': 59088,
 'she': 53170,
 'him': 26185,
 'accommodation': 332,
 'minimum': 37232,
 'trade': 59930,
 'option': 41884,
 'cash': 9066,
 'account': 354,
 'status': 56028,
 'standard': 55876,
 'development': 15433,
 'technical': 58353,
 'support': 57295,
 'deployment': 15093,
 'lte': 34312,
 'bitcoin': 6490,
 'android': 2310,
 'possible': 45481,
 'integrate': 29079,
 'education': 17889,
 'lm': 33847,
 'other': 42170,
 'application': 3039,
 'when': 64428,
 'donald': 16766,
 'trump': 60495,
 'stop': 56326,
 'holding': 26435,
 'rally': 47955,
 'himself': 26201,
 'reference': 48811,
 'book': 7074,
 'vise': 63261,
 'board': 6896,
 'examination': 19646,
 'writer': 65224,
 'poet': 45062,
 'giant': 23339,
 'cigarette': 10447,
 'jeanpaul': 30318,
 'smoked': 54504,
 'breathless': 7558,
 'creative': 13101,
 'weird': 64203,
 'answer': 2549,
 'asked': 3681,
 'silent': 53809,
 'disco': 16099,
 'delhi': 14796,
 'importance': 28049,
 'biochemistry': 6323,
 'medical': 36212,
 'field': 20946,
 'ricky': 50100,
 'gervais': 23231,
 'karl': 31192,
 'new': 39816,
 'podcast': 45048,
 'together': 59557,
 'army': 3394,
 'restroom': 49710,
 'light': 33498,
 'software': 54814,
 'testing': 58709,
 'different': 15757,
 'most': 38156,
 'popular': 45352,
 'groped': 24378,
 'today': 59530,
 'describes': 15210,
 'no': 40209,
 'rebirth': 48428,
 'cornell': 12603,
 'suny': 57151,
 'affiliated': 976,
 'campus': 8624,
 'covered': 12924,
 'scholarship': 51847,
 'jennifer': 30375,
 'lawrence': 32864,
 'follow': 21607,
 'aditya': 711,
 'seal': 52165,
 'kayastha': 31326,
 'choose': 10261,
 'power': 45638,
 'automation': 4289,
 'iit': 27733,
 'compare': 11585,
 'basis': 5237,
 'course': 12879,
 'load': 33870,
 'placement': 44743,
 'allow': 1736,
 'study': 56615,
 'gmat': 23660,
 'back': 4622,
 'backwards': 4685,
 'primitive': 46232,
 'guy': 24701,
 'jealous': 30303,
 'their': 58865,
 'close': 10873,
 'friend': 22166,
 'getting': 23253,
 'hit': 26321,
 'couple': 12867,
 'decides': 14453,
 'episode': 19007,
 'per': 43799,
 'season': 52195,
 'create': 13087,
 'usb': 62278,
 'keyboard': 31537,
 'resembles': 49548,
 'touchscreen': 59827,
 'phone': 44302,
 'he': 25563,
 'wanted': 63785,
 'country': 12857,
 'exchange': 19698,
 'cultural': 13600,
 'later': 32747,
 'child': 10086,
 'killed': 31711,
 'king': 31771,
 'defeated': 14613,
 'british': 7707,
 'micellar': 36822,
 'water': 63916,
 'successful': 56897,
 'marriage': 35526,
 'muslim': 38760,
 'christian': 10327,
 'know': 31972,
 'uber': 60947,
 'rate': 48161,
 'through': 59156,
 'roof': 50559,
 'these': 58971,
 'mumbai': 38636,
 'isnt': 29840,
 'demandsupply': 14864,
 'too': 59666,
 'driver': 17147,
 'leading': 32951,
 'lower': 34238,
 'income': 28257,
 'evidence': 19588,
 'assad': 3737,
 'being': 5633,
 'behind': 5622,
 'recent': 48484,
 'chemical': 9966,
 'attack': 4037,
 'ghouta': 23329,
 'wish': 64855,
 'quora': 47639,
 'love': 34198,
 'much': 38434,
 'but': 8260,
 'feeling': 20700,
 'please': 44892,
 'refer': 48806,
 'description': 15213,
 'current': 13681,
 'pay': 43446,
 'commission': 11494,
 'inhand': 28753,
 'salary': 51192,
 'newly': 39836,
 'airman': 1346,
 'facility': 20208,
 'blocked': 6730,
 'instagram': 28978,
 'past': 43271,
 'message': 36613,
 'worst': 65140,
 'chinese': 10138,
 'dream': 17082,
 'goal': 23702,
 'soccer': 54710,
 'history': 26318,
 'turtle': 60737,
 'bite': 6495,
 'feel': 20695,
 'product': 46415,
 'usually': 62360,
 'driven': 17146,
 'manager': 35116,
 'simultaneously': 53910,
 'google': 23886,
 'okay': 41462,
 'trying': 60541,
 'fuck': 22319,
 'yr': 65789,
 'old': 41492,
 'son': 54972,
 'lived': 33795,
 'dick': 15672,
 'group': 24397,
 'society': 54743,
 'generally': 23038,
 'favourable': 20579,
 'warfare': 63811,
 'least': 33003,
 'travel': 60165,
 'credit': 13114,
 'card': 8873,
 'fly': 21528,
 'visit': 63286,
 'website': 64118,
 'visual': 63298,
 'turn': 60716,
 'offs': 41400,
 'cant': 8721,
 'atheist': 3945,
 'richard': 50078,
 'dawkins': 14227,
 'contribute': 12353,
 'more': 38054,
 'just': 30904,
 'debating': 14369,
 'tip': 59385,
 'run': 50870,
 'morning': 38086,
 'effective': 17932,
 'somatic': 54934,
 'permission': 43925,
 'partner': 43201,
 'abortion': 162,
 'maintain': 34891,
 'long': 34035,
 'distance': 16406,
 'relationship': 49096,
 'barrier': 5163,
 'learn': 32983,
 'understand': 61434,
 'continuum': 12312,
 'hypothesis': 27329,
 'discovered': 16133,
 'whenever': 64430,
 'warm': 63825,
 'cup': 13631,
 'milk': 37095,
 'microwave': 36944,
 'afterwards': 1072,
 'sticky': 56203,
 'substance': 56834,
 'scientific': 51924,
 'explanation': 19958,
 'phenomenon': 44229,
 'personally': 44002,
 'chemistry': 9971,
 'matter': 35818,
 'president': 46095,
 'nigeria': 40003,
 'situation': 54080,
 'gcse': 22952,
 'english': 18725,
 'im': 27848,
 'level': 33289,
 'moment': 37795,
 'earn': 17605,
 'quick': 47561,
 'online': 41681,
 'system': 57802,
 'phd': 44214,
 'committed': 11507,
 'crime': 13173,
 'police': 45129,
 'wont': 65001,
 'arrest': 3445,
 'cooperate': 12478,
 'legally': 33090,
 'obligated': 41142,
 'name': 39050,
 'among': 2101,
 'novel': 40790,
 'protagonist': 46741,
 'likely': 33544,
 'mexico': 36766,
 'war': 63792,
 'result': 49718,
 'user': 62309,
 'owe': 42549,
 'completely': 11656,
 'upsc': 62145,
 'prelim': 45960,
 'develop': 15423,
 'skill': 54156,
 'allows': 1745,
 'sleep': 54301,
 'wherever': 64449,
 'recently': 48485,
 'saw': 51656,
 'sleeping': 54305,
 'her': 25874,
 'car': 8820,
 'pm': 45003,
 'had': 24807,
 'sleepover': 54308,
 'slept': 54321,
 'whole': 64565,
 'night': 40007,
 'subject': 56736,
 'required': 49499,
 'biotechnology': 6399,
 'adoption': 795,
 'metric': 36736,
 'officially': 41389,
 'kind': 31748,
 'mechanical': 36164,
 'engineering': 18712,
 'rant': 48085,
 'seem': 52328,
 'paragraph': 43006,
 'earth': 17622,
 'bob': 6909,
 'dylan': 17520,
 'become': 5504,
 'famous': 20359,
 'enough': 18792,
 'call': 8514,
 'modest': 37673,
 'suicide': 57000,
 'squad': 55646,
 'kid': 31672,
 'teenager': 58397,
 'top': 59695,
 'rank': 48071,
 'aiims': 1268,
 'aipmt': 1302,
 'tom': 59604,
 'impeach': 27982,
 'dot': 16880,
 'com': 11382,
 'campaign': 8606,
 'john': 30617,
 'wesley': 64301,
 'hyatt': 27124,
 'psychology': 46947,
 'riemann': 50132,
 'zeta': 65981,
 'represented': 49439,
 'hyperbola': 27221,
 'select': 52385,
 'certain': 9550,
 'admin': 740,
 'access': 308,
 'edit': 17855,
 'specified': 55290,
 'profile': 46456,
 'mark': 35462,
 'menu': 36501,
 'drop': 17174,
 'down': 16935,
 'ecommerce': 17788,
 'germany': 23212,
 'solve': 54916,
 'problem': 46352,
 'agree': 1181,
 'via': 62996,
 'chat': 9856,
 'may': 35899,
 'let': 33254,
 'emotion': 18468,
 'go': 23699,
 'extreme': 20100,
 'depression': 15135,
 'heal': 25603,
 'regardless': 48920,
 'whether': 64454,
 'navigation': 39343,
 'choice': 10231,
 'offered': 41376,
 'app': 2973,
 'trouble': 60450,
 'having': 25462,
 'scientist': 51929,
 'determine': 15357,
 'designer': 15254,
 'opioids': 41810,
 'synthesize': 57781,
 'blown': 6799,
 'smoke': 54502,
 'face': 20176,
 'happened': 25155,
 'werent': 64292,
 'gun': 24614,
 'invented': 29473,
 'earlier': 17595,
 'dog': 16680,
 'chasing': 9848,
 'terrorizing': 58679,
 'relieving': 49149,
 'yourself': 65761,
 'wood': 65005,
 'while': 64467,
 'hiking': 26160,
 'violence': 63206,
 'come': 11413,
 'iran': 29644,
 'obsessively': 41192,
 'germanic': 23208,
 'ethnic': 19376,
 'central': 9489,
 'european': 19473,
 'continue': 12303,
 'nation': 39254,
 'colonize': 11332,
 'mar': 35358,
 'react': 48303,
 'clear': 10729,
 'illegal': 27791,
 'neighbor': 39563,
 'tape': 58099,
 'own': 42555,
 'home': 26479,
 'residence': 49578,
 'porn': 45385,
 'picture': 44492,
 'quara': 47481,
 'correct': 12647,
 'procedure': 46366,
 'rating': 48171,
 'ride': 50114,
 'taken': 57938,
 'five': 21219,
 'scale': 51709,
 'math': 35753,
 'language': 32634,
 'soul': 55080,
 'connection': 12048,
 'provide': 46815,
 'image': 27852,
 'reaction': 48308,
 'organic': 41959,
 'upgradation': 62093,
 'mop': 38023,
 'maybe': 35905,
 'surrender': 57385,
 'seat': 52201,
 'hope': 26630,
 'second': 52236,
 'psychological': 46943,
 'leo': 33202,
 'zodiac': 66059,
 'touristic': 59848,
 'spot': 55551,
 'falkland': 20305,
 'various': 62668,
 'step': 56113,
 'becoming': 5506,
 'entrepreneur': 18894,
 'ive': 29996,
 'been': 5546,
 'boyfriend': 7332,
 'over': 42333,
 'post': 45491,
 'concerned': 11808,
 'easy': 17672,
 'engaged': 18693,
 'italy': 29925,
 'church': 10404,
 'colon': 11317,
 'cleansing': 10727,
 'healthy': 25617,
 'assume': 3823,
 'eclipse': 17768,
 'written': 65230,
 'ebola': 17714,
 'crisis': 13210,
 'playing': 44867,
 'drum': 17212,
 'cover': 12920,
 'play': 44848,
 'exact': 19634,
 'drummer': 17215,
 'conjecture': 12017,
 'theorem': 58906,
 'unprovable': 61852,
 'arent': 3279,
 'algorithm': 1595,
 'asking': 3685,
 'cv': 13766,
 'raman': 47969,
 'humanity': 26979,
 'using': 62328,
 'nonbiodegradable': 40324,
 'plastic': 44813,
 'reason': 48400,
 'associated': 3812,
 'opium': 41811,
 'drug': 17207,
 'dealer': 14337,
 'asia': 3657,
 'especially': 19253,
 'east': 17651,
 'part': 43164,
 'kathmandu': 31275,
 'serf': 52747,
 'delicious': 14811,
 'food': 21640,
 'building': 8042,
 'diverse': 16497,
 'inclusive': 28251,
 'environment': 18925,
 'really': 48367,
 'simple': 53878,
 'individual': 28448,
 'average': 4361,
 'package': 42643,
 'retail': 49736,
 'management': 35114,
 'student': 56602,
 'middle': 36961,
 'reliability': 49137,
 'additional': 654,
 'task': 58178,
 'unique': 61683,
 'merchandise': 36524,
 'operation': 41789,
 'wished': 64858,
 'obtain': 41210,
 'pr': 45697,
 'australia': 4208,
 'sponsorship': 55515,
 'check': 9914,
 'joining': 30631,
 'approach': 3075,
 'religion': 49151,
 'differ': 15748,
 'each': 17568,
 'wrt': 65244,
 'caste': 9104,
 'section': 52269,
 'etc': 19334,
 'accident': 319,
 'wasnt': 63886,
 'fault': 20555,
 'got': 23953,
 'blame': 6627,
 'gaming': 22696,
 'monitor': 37874,
 'slim': 54338,
 ...}

## Applying Multinomial Naive Bayes to the model

In [ ]:
# model = MultinomialNB()
# model.fit(train, y_train)
# print("train f1 score:", metrics.f1_score(y_train,model.predict(train)))
# print("test f1 score:", metrics.f1_score(y_test,model.predict(test)))

In [ ]:
# import matplotlib.pyplot as plt
# import seaborn as sn

# # Create the confussion matrix
# def plot_confussion_matrix(y_test, y_pred):
#     ''' Plot the confussion matrix for the target labels and predictions '''
#     cm = confusion_matrix(y_test, y_pred)

#     # Create a dataframe with the confussion matrix values
#     df_cm = pd.DataFrame(cm, range(cm.shape[0]),
#                   range(cm.shape[1]))
#     #plt.figure(figsize = (10,7))
#     # Plot the confussion matrix
#     sn.set(font_scale=1.4) #for label size
#     sn.heatmap(df_cm, annot=True,fmt='.0f',annot_kws={"size": 10})# font size
#     plt.show()

# # ROC Curve
# # plot no skill
# # Calculate the points in the ROC curve
# def plot_roc_curve(y_test, y_pred):
#     ''' Plot the ROC curve for the target labels and predictions'''
#     fpr, tpr, thresholds = roc_curve(y_test, y_pred, pos_label=1)
#     roc_auc= auc(fpr,tpr)

#     plt.title('Receiver Operating Characteristic')
#     plt.plot(fpr, tpr, 'b', label = 'AUC = %0.2f' % roc_auc)
#     plt.legend(loc = 'lower right')
#     plt.plot([0, 1], [0, 1],'r--')
#     plt.xlim([0, 1])
#     plt.ylim([0, 1])
#     plt.ylabel('True Positive Rate')
#     plt.xlabel('False Positive Rate')
#     plt.show()

In [ ]:
# # Predicting the Test set results
# y_pred = model.predict(test)

# print(metrics.classification_report(y_test, y_pred,  digits=5))
# # plot_confussion_matrix(y_test, y_pred)
# # plot_roc_curve(y_test, y_pred)

# test_y_pred = model.predict(test_df_matrix)
# test_y_pred

In [ ]:
# Test_DF_TARGET = pd.DataFrame(test_y_pred,columns=['target'])
# Test_DF_TARGET

In [ ]:
# TEST_DF_QID = pd.DataFrame(test_df ,columns=['qid'])
# TEST_DF_QID

In [ ]:
# TEST_DF = pd.concat([TEST_DF_QID, Test_DF_TARGET], axis=1, join='inner')
# # TEST_DF = TEST_DF.drop('', axis=1)
# # TEST_DF.reset_index(drop=True)
# TEST_DF

In [ ]:
# TEST_DF.to_csv("sample_submission.csv",index=False)

## Applying Logistic Regression to our dataset

In [ ]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(max_iter=50000,solver="lbfgs")
model.fit(train,y_train)
y_pred = model.predict(train)
print("train f1 score: ",f1_score(y_train,y_pred))
print("test f1 score: ",f1_score(y_test,model.predict(test)))
test_y_pred = model.predict(test_df_matrix)

train f1 score:  0.5983304971715036
test f1 score:  0.5374478511356864

In [ ]:
Test_DF_TARGET = pd.DataFrame(test_y_pred,columns=['target'])
TEST_DF_QID = pd.DataFrame(test_df ,columns=['qid'])
TEST_DF = pd.concat([TEST_DF_QID, Test_DF_TARGET], axis=1, join='inner')
# TEST_DF = TEST_DF.drop('', axis=1)
# TEST_DF.reset_index(drop=True)
TEST_DF.to_csv("sample_submission.csv",index=False)

## Applying SVM classifier to our dataset

In [ ]:
# from sklearn.model_selection import GridSearchCV,RandomizedSearchCV
# from sklearn.svm import SVC

# # Define the parameters to tune
# parameters = { 
#     'C': [1.0, 10],
#     'gamma': [1, 'auto', 'scale']
# }
# # Tune yyperparameters  using Grid Search and a SVM model
# model = GridSearchCV(SVC(kernel='rbf'), parameters, cv=5, n_jobs=-1).fit(train, train_df.target)
# # model = RandomizedSearchCV(SVC(kernel='rbf'), parameters, cv=5, n_jobs=-1).fit(train, train_df.target)

# print("train score:", model.score(train, train_df.target))

In [ ]:
# # Predicting the Test set results
# y_pred = model.predict(train)

# print(metrics.classification_report(train_df.target, y_pred,  digits=5))
# plot_confussion_matrix(train_df.target, y_pred)
# plot_roc_curve(train_df.target, y_pred)

## Applying XG Boost classifier to our dataset

In [ ]:
# from lightgbm import LGBMClassifier
# from sklearn.metrics import f1_score

# def f1_metric(ytrue,preds):
#     ''' Return the F1 Score value for the preds and true values, ytrue '''
#     return 'f1_score', f1_score((preds>=0.5).astype('int'), ytrue, average='macro'), True

# params = {
#     'learning_rate': 0.1,
#     'n_estimators': 100,
#     'colsample_bytree': 0.5,
#     'metric': 'f1_score',
#     # 'boosting_type':'goss',
#     # 'baggeng_freq':1,
#     # 'bagging_fraction' : float(0.5),
# }

# full_clf = LGBMClassifier(**params)

# # Fit or train the xgboost model
# full_clf.fit(train.astype(np.float32), y_train, eval_set=[(train.astype(np.float32), y_train), (test.astype(np.float32), y_test)],
#              verbose=400, eval_metric=f1_metric)
# #Show the results
# print("train f1 score:", metrics.f1_score(y_train,full_clf.predict(train)))
# print("test f1 score:", metrics.f1_score( y_test,full_clf.predict(test)))

In [ ]:
# # Predicting the Test set results
# Y_pred = full_clf.predict(test.astype(np.float32))

# print(metrics.classification_report(y_test, y_pred,  digits=5))
# # plot_confussion_matrix(y_test, y_pred)
# # plot_roc_curve(y_test, y_pred)

In [ ]:
# # Predicting the Test set results
# test_y_pred = full_clf.predict(test_df_matrix.astype(np.float32))

# # print(metrics.classification_report(test_df_matrix, test_y_pred,  digits=5))
# # plot_confussion_matrix(y_test, y_pred)
# # plot_roc_curve(y_test, y_pred)

In [ ]:
# Test_DF_TARGET = pd.DataFrame(test_y_pred,columns=['target'])
# Test_DF_TARGET

In [ ]:
# TEST_DF_QID = pd.DataFrame(test_df ,columns=['qid'])
# TEST_DF_QID

In [ ]:
# TEST_DF = pd.concat([TEST_DF_QID, Test_DF_TARGET], axis=1, join='inner')
# # TEST_DF = TEST_DF.drop('', axis=1)
# # TEST_DF.reset_index(drop=True)
# TEST_DF

In [ ]:
# TEST_DF.to_csv("sample_submission.csv",index=False)
# TEST_DF.target.value_counts()